

* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    margin: 60px;
}

header {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: azure;
    
}
 
.social {
    width: 100px;
    height: 100px;
    
}

footer {
    text-align: center;
    background-color: black;
    color: azure;
    padding: 20px;
}

button {
    background-color: grey;
    border-radius: 2px;
    
}

.container {
    background-color: blueviolet;
    padding: 0.5%;
    color: azure;
    text-decoration: none;


}

ol li{
    text-align: left;
}

h3, h2 {
    text-align: center;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.541);
}

table {
    
    width: 400px;
    margin:auto;
}